/*the entire questions div area (pic and text*/
#questions-output:after {
  content: "";
  display: table;
  clear: both;
}

/*img of seetoh*/
#seetoh {
	max-height: 200px;
	margin: 10px;
	float: left;
}

/*displays question choices*/
#question-box {
}

/*targets only questions as they are displayed in the question box*/
.question {
	font-size: 20px;
}

/*displays all chosen hints*/
#hint-box {
	background-color: pink;
}

#cards-output {
	margin: 0 auto;
	text-align: center;
	border: 0.5px solid black;
}

.food-card {
	display: inline-block;
	margin: 10px 18px;
	text-align: center;
}

.food-card img {
	max-width: 200px;
	height: 150px;
}

.food-card p {
	font-size: 15px;
	text-align: center;
	margin: 0;
}

.select-btn {
	/*visibility: hidden;*/
}