/*the entire questions div area (pic and text*/
#questions-output:after {
  content: "";
  display: table;
  clear: both;
}

/*img of seetoh*/
#seetoh {
	max-height: 200px;
	margin: 10px;
	float: left;
}

/*displays question choices*/
#question-box {
}

/*targets only questions as they are displayed in the question box*/
.question {
	font-size: 20px;
}

/*displays all chosen hints*/
#hint-box {
	background-color: pink;
}

#cards-output {
	margin: 0 auto;
	text-align: center;
	/*border: 0.5px solid black;*/
}

.food-card {
	display: inline-block;
	margin: 30px 15px;
	text-align: center;
}

.food-photo {
	max-width: 200px;
	height: 150px;
}

.food-card p {
	font-size: 15px;
	text-align: center;
	width: 100%;
	margin: 0;
	position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.select-btn {
	display: none;
	position: absolute;
	bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.hide {
	content:url("images/card-backs/back.jpeg");
}